/* reset CSS */
*   {
  /* magem = Externa  */
  margin: 0;
  box-sizing: border-box;
  
}


body {   
  

/* cor fundo  */
background-color: rgb(240, 212, 255);
  
  /* cor tertos */
 color: #b56bcc;

}

/* seletor para os <A> */
  a { 
    /* propriedade e VALOR  */
    text-decoration: none;
     color: rgb(186, 143, 212);
  }
  

    

  /* HEADER = cabeçalho */
  header { 
    /* ROW */
    display: flex ;
    justify-content: space-between ;
    align-items: center;
    background-color: #fff;
    /* largura ou comprimento  */
    width: 100%;
  }

  /* UL */
  .menu 
  {
    list-style: none;
    /* lista horizontal */
    display: flex;
    /* espaço entre palavras */
    gap: 1rem;
  }

  /* tag NAV */ 
   .menu-desktop {
    display: none;
     }
    
     /* daqui pra cima Versao Mobile */
     /* ====================================    */




     /* Responsivo */

      /* Serve para as telas Maiores */
      /* Telas Maiores que 768x */


      @media (min-width: 768px) {   
        header{ 
          /* espaço inteiro */
          padding: 1rem 6rem;
          justify-content: ;
          gap: ;
        }

        /* NAV */
       .menu-desktop{ 
        display: flex               ;
      }
      }